// ========color pallets============

$main-dark-color: #000000;
$main-dark1-color: #2f2f31;
$main-light2-color: #bfbfbf;
$main-light1-color: #dedede;
$main-light-color: #ffffff;
$main-color: #ff4d00;

$main-bg-color: rgba(243, 243, 243, 0.651);